.pos {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border: 1px solid #294d7f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: fit-content;
  height: fit-content;
}

.icon_circ {
  background-color: #e9ecef;
  border-radius: 9999px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
    fill: #294d7f;
    width: 35px;
    height: 40px;
}

.label, .count {
  color: #1c1b15;
}
  