.hero_section {
    background: linear-gradient(to right, gray, darkgray);
    color: white;
    padding: 5rem 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    margin-bottom: 2rem;
}