.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: green;
    fill: green;
}

.logo:hover {
    fill: darkgreen;
    color: darkgreen;
}

.svg {
    width: 40px;
    height: 40px;
}

