.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: blue;
    fill: blue;
}

.logo:hover {
    fill: darkblue;
    color: darkblue;
}

.svg {
    width: 40px;
    height: 40px;
}

