.section{
padding: 5rem 0;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

@media (min-width: 1024px) {
  .features {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}

