.about_section{
padding: 5rem 0;
}

.features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 4rem;
}
  
  @media (min-width: 1024px) {
    .features {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
}