.about_section{
padding: 5rem 0;
}

.subtitle {
    text-transform: uppercase;
    color: green;
    text-align: center;
}
  
.title {
    color: black;
    text-align: center;
}
  
.description {
    color: gray;
    text-align: center;
}

/* Features grid */
.features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 4rem;
}
  
  @media (min-width: 1024px) {
    .features {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
}

  /* Card styling */
.feature {
    background-color: lightgray;
    border-radius: 0.75rem;
    padding: 2rem 1.5rem 1.5rem;
    position: relative;
}

.icon_wrapper {
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    font-size: 1.5rem;
}

.icon {
    fill: white;
    width: 38px;
    height: 38px;
}

.feature_title {
    margin-top: 2rem;
}
  
.feature_description {
    margin-top: 1rem;
    color: gray;
}

