.nav {
    display: flex;
    justify-content: center;
  }
  
  .nav_list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  .nav_list a:hover {
    color: darkblue;
  }