.header {
    position: sticky;
    top: 0;
    z-index: 1000;
  
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #294d7f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.avatar:hover {
    background-color: #1a3459;
  }

.svg {
    width: 40px;
    height: 40px;
    fill: #294d7f;
    cursor: pointer;
}

.svg:hover {
    fill: #1a3459;
}

.burger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}
  
.burgerIcon {
    width: 42px;
    height: 42px;
    fill: #294d7f;
    cursor: pointer;
}

.burgerIcon:hover {
    fill: #1a3459;
}
  
.mobileMenu {
    position: absolute;
    top: 100%;
    right: 1rem;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 1rem 1.5rem;
    /* animation: dropdown 0.3s ease-out; */
    border-radius: 0.375rem;
    border: 1px solid #294d7f;
    width: max-content;
  }
  
@keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .nav {
      display: none;
    }
}