.footer {
    background-color: #1c1b15;
    color: #959591;
    padding: 3rem 0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.about {
    text-align: center;
}

.text {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
}

.subtext {
    color: #959591;
    font-size: 1rem;
}

.icon {
    fill: #294d7f;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contacts a {
    margin-left: 0.5rem;
}

.contacts a:hover,
.docs a:hover {
  color: #294d7f;
}

.bottom {
  border-top: 1px solid #959591;
  padding-top: 2rem;
  margin-top: 3rem;
  text-align: center;
  color: #959591;
  font-size: 1rem;
}

@media (min-width: 900px) {
  .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about {
    flex: 2;
  }

  .contacts,
  .docs {
    flex: 1;
  }
}