.subtitle {
    text-transform: uppercase;
    color: #294d7f;
    text-align: center;
}
  
.title {
    color: black;
    text-align: center;
}
  
.description {
    color: gray;
    text-align: center;
}