.subtitle {
    text-transform: uppercase;
    color: #294d7f;
    text-align: center;
}
  
.title {
    color: #1c1b15;
    text-align: center;
}
  
.description {
    color: #959591;
    text-align: center;
}