.subtitle {
    text-transform: uppercase;
    color: #294d7f;
    text-align: center;
}
  
.title {
    color: #1c1b15;
    text-align: center;
    font-size: 1.1rem;
}
  
.description {
    color: #6b7280;
    text-align: center;
    font-size: 1.1rem;
}