.section {
    background-color: #e9ecef;
    padding: 3rem 1rem;
    color: #1c1b15;
}

.wrapper {
    max-width: 400px;
    margin: auto;
    color: #6b7280;
}

.wrapper h2 {
    color: #294d7f;
}

.wrapper label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.wrapper input {
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #294d7f;
    border-radius: 0.375rem;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.googleBtn {
    padding: 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid #294d7f;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #e9ecef;
    color: #1c1b15;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.googleBtn:hover  {
    background-color: #fff;
}
  
.forgotText {
    margin-top: 1rem;
}
  
.forgotLink {
    color: #294d7f;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
}
  
.forgotLink:hover {
    color: #1a3459;
}
  
.signupText {
    margin-top: 1rem;
}
  
.signupLink {
    color: #294d7f;
    text-decoration: underline;
    cursor: pointer;
}

.signupLink:hover {
    color: #1a3459;
}

.btn {
    padding: 0.75rem;
    border-radius: 0.375rem;
    border-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #294d7f;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}
  
.btn:hover  {
    background-color: #1a3459;
}
  